//Top Section
#a-top-section {
    background: @font-color;
    .sectionStyle(100%, auto);
    margin: 5px;
    padding-top: 40px;
    background-size: cover;

    .a-top-container {
        .sectionStyle(1154px, auto);
        margin: 35px 0px 0px 150px;
        background: @secondary-bg;
        border-top-left-radius: 31px;
        border-top-right-radius: 31px;
        padding: 100px;
        .displayFlex();
        flex-wrap: wrap;

        @media @mobile {
            width: 100%;
            margin: 0;
        }


        h1 {
            color: @font-color;
            margin-right: 50%;
            width: 700px;
            height: 65px;
            font-size: 50px;

            @media @mobile {
                font-size: 40px;
                text-align: center;
                width: 100%;
            }
        }

        .a-top-items {
            height: 500px;
            width: 500px;

            h3 {
                font-size: 35px;
                color: @font-color;

                 @media @mobile {
                     font-size: 25px;
                     text-align: center;
                     width: 100%;
                 }
            }

            p {
                margin-top: 20px;
                width: 518.63px;
                height: 64px;
                font-size: 24px;
                line-height: 32px;
                color: #1A051D;

                 @media @mobile {
                     font-size: 20px;
                     text-align: center;
                     width: 100%;
                     margin-bottom: 0;
                 }
            }

            .a-top-buttons {
                display: flex;


                .a-btn1 {
                    .signUp();
                    color: @font-color;
                    margin-top: 100px;
                    height: 40px;
                    width: 150px;
                }

                .a-btn2 {
                    .signUp();
                    color: @secondary-bg;
                    background: @font-color;
                    margin-top: 100px;
                    height: 40px;
                    width: 150px;
                }

            }
        }
    }
    
 //Team Section   
    .team-members {
        width: 300px;
        height: 300px;
        margin: 10px;
        padding: 20px;
        text-align: center;

        p {
            font-size: 17px;
        }

        .cohort {
            width: 200px;
            height: 200px;
            margin: 20px;
        }

        a {
            font-size: 20px;
            color: @font-color;
            text-decoration: none;
        }
    }
}


        