//Top Section
#top-section {
    background: @theme-bg;
    .sectionStyle(100%, 700px);
    margin: 5px;
    padding-top: 40px;
    background-size: cover;

    .top-container {
        margin: 35px 0px 0px 150px;
        background: #fff;
        border-radius: 31px;
        padding: 100px;
        
        height: 584px;
        width: 1154px;
        .displayFlex();


        h1 {
            color: @font-color;
            margin-right: 50%;
            width: 700px;
            height: 65px;
            font-size: 50px;
        }

        .top-items {
            height: 500px;
            width: 500px;

            h3 {
                font-size: 35px;
                color: @font-color;
            }

            p {
                margin-top: 20px;
                width: 518.63px;
                height: 64px;
                font-size: 24px;
                line-height: 32px;
                color: #1A051D;
            }

           .top-buttons {
               display: flex;
                

                 .btn1 {
                    .signUp();
                    color: @font-color;
                    margin-top: 100px;
                    height: 40px;
                    width: 150px;
                 }

                 .btn2 {
                     .signUp();
                     color: #fff;
                     background: @font-color;
                     margin-top: 100px;
                     height: 40px;
                     width: 150px;
                 }

           }
        }
    }
}
#gigapet-section {
    background: @font-color;
    .sectionStyle(100%, 700px);
    margin: 5px;
    padding-top: 40px;
    background-size: cover;

    .gigapet-container {
        margin: 20px 0px 0px 200px;
        padding: 100px;
        height: 584px;
        width: 88%;
        display: flex;
        justify-content: space-between;


        h1 {
            color: #fff;
            margin-right: 50%;
            width: 700px;
            height: 65px;
            font-size: 40px;
        }

        .gigapet-items {
            height: 500px;
            width: 500px;

            h3 {
                font-size: 35px;
                color: @font-color;
            }

            p {
                margin-top: 20px;
                width: 518.63px;
                height: 64px;
                font-size: 24px;
                line-height: 32px;
                color: #fff;
            }

            .giga-img {
                margin-top: 25px;
                 width: 80%;
                 height: 40%;
            }

           .gigapet-button {
                margin: 100px 0 0 400px;
                height: 40px;
                 button {
                    .signUp();
                    background: #fff;
                    height: 40px;
                    width: 150px;
                    a {
                        text-decoration: none;
                        color: @font-color;
                        text-align: center;
                    }
                 }

           }
        }
    }
}

//GigaPet Section
// #gigapet-section {
//     .sectionStyle(100%, 800px);
//     background: @font-color;
//     color: #fff;
//     margin: 0;
//     padding: 100px;
//     height: 584px;
//     display: flex;
    
    
//     h3 {
//         width: 590px;
//         height: 98px;
//         font-size: 36px;
//     }

//     p {
//         width: 590px;
//         height: 84px;
//         font-size: 21px;
//     }

//     .giga-img {
//         width: 697px;
//         height: 227px;
//         padding-bottom: 0;
//     }
//  }

   

//     .btn1 {
//         .signUp();
//         color: @font-color;
//         margin-top: 100px;
//     }
// }

        

